
footer.bottom{
    margin-top: 150px;
    height: 150px;
    /* margin-top: 50px; */
}

.social-icons{
    border-radius: 5px;
    font-size: 30px !important;
    margin-left: 10px;

}
.whats{
    background: #40C351;
}
.insta{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
   
}
.twitter{
    background: #00ACEE;
    
}
.top {
    clip-path: polygon(0 0,100% 0,100% 100%,50% calc(100% - 55px),0 100%);
  }
  .bottom {

    clip-path: polygon(0 55px,50% 0,100% 55px,100% 100%,0 100%);
  }