.trending-title{
    height: 50px;
    overflow: hidden;
    line-height: 25px;
}

.trending-main-card {
border-top-right-radius: 0px !important;
border-top-left-radius: 0px !important;
    transition:  0.25s  !important;
}

.trending-main-card:hover  {
    transform: translate(-10px , -10px);
   box-shadow: 10px 10px 0px var(--light-color);
}
.trending-main-card a{
    color: var(--dark-color);
}
.trending-img img{
    object-fit: cover;
    height: 150px;
}

