
.card a:hover{
    color: black;
}


.main-card {
    position: relative;
}

.main-card .image {
    overflow: hidden;
}
.card-title{
    overflow: hidden;
    height: 40px;
    max-height: 40px;
    line-height: 21px ;
}
.main-card .image img {
    transition: all 0.35s ease-in-out !important;
    height: 150px;
    object-fit: cover;
}

.main-card:hover .image img {
    transform: scale(1.3);
    rotate: 5deg;
}
